@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Fira+Sans+Condensed&family=Jost:wght@200&family=Tilt+Neon&family=Work+Sans:wght@300&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body  {
    font-family: 'Balsamiq Sans', cursive;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Jost', sans-serif;
font-family: 'Tilt Neon', cursive;
font-family: 'Work Sans', sans-serif;
}